<div class="controls-container">
  <button class="algo-button" (click)="runLinearSearch()">Linear Search</button>
  <button class="algo-button" (click)="runBinarySearch()">Binary Search</button>
  <button class="algo-button" (click)="generateArray()">Generate Array</button>
  <button class="algo-button" (click)="shuffleArray()">Shuffle Array</button>
</div>
<div id="visualization">
  @for(height of array; track height){
    <div
      [class.active]="activeIndex === $index"
      [class.found]="foundIndex === $index"
      [style.height]="height + 'px'"
      class="bar">
    </div>
  }
</div>
<div class="array-container">
@for(item of array; track item){
  <div class="array-item" [style.backgroundColor]="getColor(item, $index)" (click)="setSearchNumber(item, $index)">
    {{ item }}
  </div>
}
</div>