<div>
    <button (click)="runLinearSearch()">Linear Search</button>
    <button (click)="runBinarySearch()">Binary Search</button>
    <button (click)="generateArray()">Generate New Array</button>
  </div>
  <div class="array-container">
    <div *ngFor="let item of array; index as i" class="array-item" [style.backgroundColor]="getColor(i)">
      {{ item }}
    </div>
  </div>
  <div id="visualization">
    <div *ngFor="let height of array; let i = index" 
         [class.active]="activeIndex === i"
         [class.found]="foundIndex === i"
         [style.height]="height + 'px'"
         class="bar">
    </div>
  </div>
  