.main-container {
    display: flex;
    flex-direction: row;
    height: 94%;
    background-color: rgb(218, 218, 218);
    position: relative;
}

.main-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%; 
    height: 50%; 
    background-color: rgba(0, 0, 0, 0.3); 
    clip-path: polygon(100% 0, 0 100%, 70% 100%); 
}

.main-container::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 70%;
    background-color: rgba(0, 0, 0, 0.2); 
    clip-path: polygon(100% 0, 0 100%, 70% 100%);
}

.nav-container{
    width: 200px;
}

.content-container{
    margin-left: 20px;
}